* {
	font-family: 'Jua', sans-serif;
}

.diphylleia {
  font-family: "Diphylleia", sans-serif;
}

.fontdiner-swanky {
  font-family: "Fontdiner Swanky", sans-serif;
}

.wrap {
    width: 900px;
    margin: auto;
    margin-top: 2rem;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.cancel:hover {
	animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-3px); }
    50% { transform: translate(3px); }
    75% { transform: translate(-3px); }
    100% { transform: translate(0); }
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.show {
    opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

@keyframes move-up {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(-200px);
        opacity: 1;
    }
}

.move-up {
    animation: move-up 1s forwards;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fade-in 1s;
}

@keyframes rotating {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg); }
    50% { transform: rotate(20deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

#fcButton:hover, #open-cookie:hover {
    animation: rotating 0.5s;
    animation-iteration-count: 1;
}